
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5014.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5015.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5016.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5017.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5019.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5020.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5021.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5022.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5023.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5024.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5025.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5026.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5027.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5028.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5029.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5030.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5031.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5032.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5033.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5034.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5035.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5036.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5037.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5038.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5039.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5040.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5041.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5042.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5043.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5044.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5045.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5046.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5047.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5048.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5049.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5050.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5051.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5052.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5053.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5054.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5055.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5056.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5057.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5058.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5059.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5060.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5061.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5062.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5063.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5064.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5065.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5066.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5067.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5069.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5070.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5071.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5072.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5073.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5074.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5075.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5076.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5077.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5078.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5079.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5080.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5081.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5082.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5083.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5084.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5086.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5087.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5089.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5090.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5091.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5092.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5093.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5094.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5095.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5096.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5097.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5098.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5099.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5100.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5101.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5103.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5104.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5105.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5106.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5107.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5108.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5109.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5110.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5111.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5112.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5113.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5114.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5115.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5116.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5117.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5118.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5119.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5120.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5121.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5122.png
7th/7h_Visao_MAC0417/EP1_visao/database/IMG_5123.png
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5014.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5015.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5016.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5017.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5019.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5020.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5021.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5022.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5023.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5024.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5025.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5026.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5027.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5028.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5029.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5030.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5031.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5032.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5033.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5034.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5035.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5036.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5037.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5038.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5039.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5040.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5041.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5042.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5043.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5044.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5045.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5046.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5047.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5048.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5049.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5050.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5051.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5052.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5053.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5054.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5055.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5056.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5057.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5058.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5059.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5060.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5061.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5062.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5063.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5064.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5065.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5066.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5067.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5069.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5070.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5071.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5072.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5073.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5074.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5075.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5076.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5077.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5078.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5079.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5080.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5081.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5082.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5083.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5084.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5086.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5087.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5089.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5090.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5091.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5092.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5093.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5094.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5095.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5096.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5097.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5098.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5099.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5100.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5101.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5103.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5104.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5105.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5106.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5107.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5108.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5109.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5110.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5111.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5112.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5113.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5114.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5115.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5116.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5117.heic
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5118.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5119.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5120.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5121.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5122.jpg
7th/7h_Visao_MAC0417/EP1_visao/database_ep1_visao/IMG_5123.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_A_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_B_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/capinha_C_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_A_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_B_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/garfo_C_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/imagens_annotations.xml
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_A_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_B_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/lapis_C_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_A_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_A_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_A_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_A_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_A_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_A_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_A_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_A_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_A_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_A_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_A_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_A_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_B_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_B_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_B_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_B_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_B_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_B_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_B_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_B_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_B_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_B_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_B_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_B_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_C_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_C_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_C_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_C_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_C_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_C_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_C_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_C_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_C_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_C_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/livro_C_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/livro_C_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_A_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_B_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_1_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_1_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_1_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_2_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_2_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_2_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_3_claro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_3_claro.txt
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/imagens/mouse_C_3_escuro.txt
6th/6th_Formas_MAC0477/EP/imagens/script.py
6th/6th_Formas_MAC0477/EP/imagens/scriptxml.py
6th/6th_Formas_MAC0477/EP/MAC0447_5749_EP_2023.pdf
6th/6th_Formas_MAC0477/EP/metadados.xlsx
6th/6th_Formas_MAC0477/EP/README.md
6th/6th_Formas_MAC0477/EP/segmentacao_manual.zip
6th/6th_Formas_MAC0477/EP/segmentacao_manual/capinha/capinha_A_1_escuro.jpg
6th/6th_Formas_MAC0477/EP/segmentacao_manual/capinha/capinha_C_2_claro.jpg
6th/6th_Formas_MAC0477/EP/segmentacao_manual/garfo/garfo_A_2_claro.jpg
6th/6th_Formas_MAC0477/EP/segmentacao_manual/garfo/garfo_C_3_claro.jpg
6th/6th_Formas_MAC0477/EP/segmentacao_manual/lapis/lapis_C_1_claro.jpg
6th/6th_Formas_MAC0477/EP/segmentacao_manual/lapis/lapis_C_2_claro.jpg
6th/6th_Formas_MAC0477/EP/segmentacao_manual/livro/livro_B_2_escuro.jpg
6th/6th_Formas_MAC0477/EP/segmentacao_manual/livro/livro_C_3_escuro.jpg
6th/6th_Formas_MAC0477/EP/segmentacao_manual/mouse/mouse_B_3_claro.jpg
6th/6th_Formas_MAC0477/EP/segmentacao_manual/mouse/mouse_C_2_claro.jpg
